body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1.5rem;
    background-color: #f4f4f4;
    border-bottom: 1px solid #757878;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    background: linear-gradient(
    to bottom,
    #0cb093 0%,     /* color de arriba */
    #0cb093 40%,   /* hasta el 40% */
    #f4f4f4 40%,   /* corte exacto */
    #f4f4f4 100%   /* resto */
    );
}

.box-login {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    margin-top: 2.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.title-login {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.input-username-login, .input-password-login {
    margin-bottom: 1rem;
    border: 1px solid #757878;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 0.75rem;
}

.button-login {
    background-color: #494f51;
    color: #ffffff;
    border: none;
    border-radius: 999px;
    cursor: pointer; /* cursor de mano al hacer hover sobre el botón */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    transition: background-color 0.3s ease 0.1s;
}

.button-login:hover {
    background-color: #0cb093;
}

.no-account {
    font-size: 0.70rem;
}

.to-register {
    color: #000000;
}

footer {
    border-top: 1px solid #757878;
    padding: 1rem 1.5rem;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.70rem;
}

footer svg {
    width: 20px;
    height: 20px;
    display: block;
}

footer > div:first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer > div:first-child svg {
    width: 20px;
    height: 20px;
    display: block;
    overflow: visible; /* por si el path se corta */
}

.copyright {
    margin: 0;
    color: #494f51;
}

.downloads {
    display: flex;
    gap: 0.5rem;
}

.apps {
    display: flex;
    align-items: center;
}