<link rel="stylesheet" href="/css/auth.css">

<%- include('partials/header') %>
<main>
    <div class="box-login">
        <h2 class="title-login">¡Bienvenido!</h2>
        <input class="input-username-login" type="text" placeholder="Tu nombre de usuario">
        <input class="input-password-login" type="text" placeholder="Tu contraseña">

        <button class="button-login">Iniciar Sesión</button>
    </div>
    <h5 class="no-account">¿No tienes cuenta? <a class="to-register" href="/register">Regístrate</a></h5>
</main>

<%- include('partials/footer') %>